
body {
  display: flex;
  justify-content: center;
  background-color: #8E7C93;
}

#container {
  margin: 100px;
  padding: 10px;
  border-radius: 3px;
  width: 600px;
  background-color: darkgray;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttons {
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-weight: bold;
  border-radius: 3px;
  transition: all .15s ease-in;
}

.count {
  text-align: center;
  color: white;
  padding: 10px;
  background-color: blue;

}
